.text-center {
    text-align: center !important;
}

.flex-1 {
    flex: 1 1 0;
}

.position-inset {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.App {
    position: relative;
    overflow-x: hidden;
    user-select: none;
}

.landing-rest {
    user-select: none;
}

.divider-top {
    pointer-events: none;
}

@media only screen and (min-width: 801px) {
    .presale-hero-heading {
        max-width: 25.42vw;
    }

    .hero-text {
        font-size: 1.25vw;
        line-height: 1.5vw;
        margin-bottom: 0;
    }

    .presale-prototype-button {
        width: 17.78vw;
    }

    .presale-container {
        font-family: 'Friz Quadrata Std Medium';
        color: #FFFFFF;

        text-align: left;
        position: absolute;
        width: 100vw;
        max-width: 32.9vw;
        height: 35.07vw;
        max-height: 960px;
        margin: auto;

        top: 52%;
        transform: translateY(-50%);
        right: 6.2vw;

        padding: 0 1.67vw;

        background: url("/img/presale/Asset_BG_A.png") top no-repeat;
        background-size: contain;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .presale-container.presale-2 {
        z-index: 2;
        right: 50vw;
    }

    .presale-heading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.33vw;
        position: relative;
    }

    .presale-heading {
        margin: 0 0 0.38vw;
        padding-top: 0.78vw;
        width: 22.06vw;
        height: 3.03vw;

        background: url("/img/presale/Asset_Field_Top.png") center no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        font-size: 1.67vw;

        color: #4d3e27;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .round-container {
        padding: 1.11vw 1.67vw 0;

        background: url("/img/presale/Asset_BG_B.png") center no-repeat;
        background-size: 100% 100%;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        margin-bottom: 2.7vw;
    }

    .round-heading-container {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 0.52vw;
    }

    .round-heading {
        font-size: 1.25vw;
        line-height: 1.6vw;
        font-weight: bold;
    }

    .round-subheading {
        font-size: 0.833vw;
        line-height: 1vw;
        margin-bottom: 0.70vw;
    }

    .round-heading-indicator {
        margin-top: 0.25vw;
        width: 0.69vw;
        height: 0.69vw;
        overflow: visible;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .round-heading-indicator-light {
        flex: none;
        width: 50px;
        height: 50px;

        background: url("/img/presale/SS_Light.png") center 0 no-repeat;
        background-size: 50px;
    }

    .round-heading-indicator-light.inactive {
        flex: none;
        width: 50px;
        height: 50px;

        background: url("/img/presale/Light_Red_STATIC.png") center 0 no-repeat;
        background-size: 50px;
    }

    .round-progress-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 3.02vw;

        align-items: center;
        margin-bottom: 0.42vw;

        background: url("/img/presale/Asset_Bar_Frame.png") center no-repeat;
        background-size: 100%;
    }
    .presale-2 .round-progress-container {
        margin-top: 1.1vw;
    }

    .round-progress-bar-container {
        position: absolute;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        isolation: isolate;
        mix-blend-mode: lighten;
    }

    .round-progress-bar {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .round-progress-bar-fill {
        flex: none;
        width: 1249px;
        height: 145px;

        background: url("/img/presale/SS_BarFill.png") 0 0 no-repeat;
        background-size: 1249px 6815px;
    }

    .round-progress-bar-mask {
        position: relative;
        display: flex;
        align-items: stretch;
        mix-blend-mode: darken;
        min-width: 1.6875vw;
    }

    .round-progress-bar-mask-tail {
        background-color: black;
        position: relative;
    }

    .round-progress-bar-mask-l, .round-progress-bar-mask-r {
        height: 100%;
    }

    .round-progress-bar-mask-m {
        flex: 1 1 0;
        min-width: 0;
    }

    .round-progress-value {
        position: relative;
        font-size: 0.972vw;
        line-height: 1.17vw;

        color: #FFFFFF;
        text-shadow: 1px 0 1px #2B170C, 0 1px 1px #2B170C, -1px 0 1px #2B170C, 0 -1px 1px #2B170C;
        margin-top: 1.2vw;
    }

    .round-progress-divider {
        position: absolute;
        width: 0.95vw;
        height: 4vw;
        top: -0.42vw;
    }

    .round-progress-divider-l {
        left: 4.93vw;

        background: url("/img/presale/Asset_Bar_Divider_1.png") 0 0 no-repeat;
        background-size: 100%;
    }

    .round-progress-divider-r {
        right: 4.93vw;

        background: url("/img/presale/Asset_Bar_Divider_2.png") 0 0 no-repeat;
        background-size: 100%;
    }

    .round-progress-label-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.34vw;

        color: #FF955F;
        font-weight: bold;
        font-size: 0.833vw;
        line-height: 1vw;

        margin-bottom: 1.04vw;
    }

    .round-progress-label-dark {
        color: #B57B5B;
    }

    .round-price {
        font-size: 1.39vw;
        line-height: 1.67vw;
        font-weight: bold;
        margin-bottom: 1.11vw;
    }

    .round-time-left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .round-time-left-label {
        color: #FF955F;
        font-size: 0.833vw;
        line-height: 1vw;
        font-weight: bold;
        margin-bottom: 0.35vw;
    }

    .round-time-left-clock-container {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.56vw;

        margin-bottom: -3vw;

        background: url("/img/presale/Asset_Clock_BG.png") 0 0 no-repeat;
        background-size: 100%;
        padding: 0.25vw 0.63vw;
    }

    .round-time-left-clock-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .round-time-left-clock-value {
        font-size: 1.67vw;
        line-height: 2vw;
        font-weight: bold;
        text-align: center;
        padding: 0.79vw 0 0.25vw;
        position: relative;

        width: 3.47vw;
        margin-bottom: 0.347vw;
    }

    .round-time-left-clock-value-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .round-time-left-clock-value-text {
        position: relative;
    }

    .round-time-left-clock-value-bg-flip {
        flex: none;
        width: 150px;
        height: 130px;
        background: url("/img/presale/SS_Clock_Flip.png") center 0 no-repeat;
        background-size: 150px;
    }

    .round-time-left-clock-label {
        font-size: 0.833vw;
        line-height: 1vw;
        font-weight: bold;
    }

    .next-rounds-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 0.8vw;
    }

    .next-rounds-heading {
        font-size: 0.972vw;
        line-height: 1.17vw;
        font-weight: bold;
        margin-bottom: 0.28vw;
    }

    .next-rounds-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.56vw;

        background: url("/img/presale/Asset_Fields_Bottom.png") 0 0 no-repeat;
        background-size: 100%;
    }

    .next-rounds-card {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        padding: 0.7vw 0.69vw 0.49vw;

        flex: 1 1 0;
        height: 6.2vw;
        box-sizing: border-box;
    }

    .next-rounds-card-title {
        font-size: 0.972vw;
        line-height: 1.17vw;
        font-weight: bold;
        color: #ffffff;
    }

    .next-rounds-card-subtitle {
        font-size: 0.833vw;
        line-height: 1.17vw;
        font-weight: bold;
        color: #bc7459;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-grow: 1;
    }

    .next-rounds-card-separator {
    }

    .next-rounds-card-info {
        font-size: 0.69vw;
        line-height: 0.828vw;
        font-weight: bold;
        margin-bottom: 0.1vw;
        color: #bc7459;
    }

    .supported-currencies-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 0.8vw;
        margin-top: 1vw;
    }

    .supported-currencies-heading {
        font-size: 0.83vw;
        line-height: 1.00vw;
        font-weight: bold;
        margin-top: 0.7vw;
        margin-bottom: 0.3vw;
    }

    .supported-currencies {
        display: flex;
        flex-direction: row;
        gap: 1.39vw;
        margin-bottom: 0.4vw;
    }

    .supported-currency {
        display: flex;
        flex-direction: column;
        align-items: center;

        box-sizing: border-box;
    }

    .supported-currency-logo {
        width: 1.94vw;
        margin-bottom: 0.56vw;
    }

    .supported-currency-title {
        font-size: 0.83vw;
        line-height: 1.00vw;
        font-weight: bold;
        color: #ffffff;
    }
    .highlighted .supported-currency-title {
        color: #DD7FF1;
    }

    .supported-currencies-info {
        color: #DD7FF1;
        font-size: 0.83vw;
        line-height: 1.00vw;
        margin-bottom: 0.2vw;
    }

    .investor-cta-container {
        font-size: 0.83vw;
        line-height: 1.00vw;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.56vw;
        margin-bottom: 0.4vw;
    }

    .investor-cta-link {
        text-decoration: underline;
        color: #ffffff;
    }
    .investor-cta-link:hover {
        text-decoration: none;
    }

    .backers-container {
        display: flex;
        flex-direction: column;
    }

    .backers-container-mobile {
        display: none;
    }

    .backers-label {
        font-size: 0.83vw;
        line-height: 1.00vw;
        font-weight: bold;
        margin-bottom: 0.3vw;
    }

    .backers {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.64vw;
    }

    .backers img {
        min-width: 0;
        margin-right: 2vw;
        width: 6vw;
    }

    .presale-buy-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presale-buy-button {
        position: relative;
        width: 15.21vw;
        height: 4.35vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presale-buy-button-img {
        flex: none;
        width: 700px;
        height: 200px;
        background: url("/img/presale/SS_Button_Buy.png") center 0 no-repeat;
        background-size: 700px;
    }

    .presale-cable-left {
        pointer-events: none;
        position: absolute;
        width: 11.8vw;
        height: 30vw;
        background: url("/img/presale/Asset_Cable_L.png") 0 0 no-repeat;
        background-size: 100%;
        left: -0.9vw;
        top: 19.1vw
    }

    .presale-cable-right {
        pointer-events: none;
        position: absolute;
        width: 11.6vw;
        height: 30vw;
        background: url("/img/presale/Asset_Cable_R.png") 0 0 no-repeat;
        background-size: 100%;
        right: -0.8vw;
        top: 1.4vw
    }

    .connect-wallet-container {
        font-family: 'Friz Quadrata Std Medium';
        color: #FFFFFF;

        text-align: left;
        position: absolute;
        width: 100vw;
        max-width: 32.9vw;
        height: 35.07vw;
        max-height: 960px;
        margin: auto;

        top: 52%;
        transform: translateY(-50%);
        right: 17vw;
        z-index: 1;

        padding: 0;

        background: url("/img/presale/Page2_BG.png") top no-repeat;
        background-size: contain;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .connect-wallet-offer-container {
        background: url("/img/presale/Page2_BG_Section.png") top no-repeat;
        background-size: 100%;
        height: 10.80vw;
        box-sizing: border-box;
        margin-top: 2.95vw;
        padding: 0 3.68vw 0.5vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        color: #3b221c;
        position: relative;
    }

    .connect-wallet-offer-heading {
        font-size: 1.67vw;
        line-height: 2vw;
        font-weight: bold;
    }

    .connect-wallet-offer-subtitle {
        font-size: 1.11vw;
        line-height: 1.33vw;
        font-weight: bold;
    }

    .connect-wallet-offer-chest {
        position: absolute;
        top: -1vw;
        bottom: 0;
        right: -1.7vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .connect-wallet-offer-chest img {
        width: 13vw;
    }

    .connect-wallet-heading {
        font-size: 1.67vw;
        line-height: 2vw;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5vw;
        margin-bottom: 1.4vw;
        text-align: center;
    }

    .connect-wallet-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .connect-wallet-link {
        font-size: 0.972vw;
        line-height: 1.17vw;
        font-weight: bold;
        text-decoration: underline;
        color: #ffffff;
    }

    .connect-wallet-link:hover {
        text-decoration: none;
    }

    .connect-wallet-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5vw;
    }

    .connect-wallet-button {
        position: relative;
        width: 16.67vw;
        height: 4.76vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .connect-wallet-button-img {
        flex: none;
        width: 700px;
        height: 200px;
        background: url("/img/presale/Page2_SS_Button_Wallet.png") center 0 no-repeat;
        background-size: 700px;
    }

    .connect-wallet-footnote-container {
        font-size: 0.972vw;
        line-height: 1.17vw;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 2.5vw 0;
    }

    .connect-wallet-footnote-link {

    }

    .connect-wallet-footnote-secure {

    }

    .connect-wallet-cable-left {
        pointer-events: none;
        position: absolute;
        width: 11vw;
        height: 30vw;
        background: url("/img/presale/Page2_BG_Cable.png") 0 0 no-repeat;
        background-size: 100%;
        left: -0.35vw;
        top: 17.13vw;
    }

    .wallet-connected-container {
        font-family: 'Friz Quadrata Std Medium';
        color: #FFFFFF;

        text-align: left;
        position: absolute;
        width: 100vw;
        max-width: 33.34vw;
        height: 35.07vw;
        max-height: 960px;
        margin: auto;

        top: 52%;
        transform: translateY(-50%);
        right: 17vw;
        z-index: 1;

        padding: 0;

        background: url("/img/presale/Page3_BG_BakedTogether.png") top no-repeat;
        background-size: contain;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .wallet-connected-heading {
        font-size: 1.11vw;
        line-height: 1.33vw;
        font-weight: bold;
        color: #a85f37;

        padding: 1.1vw 1.9vw;
    }

    .wallet-connected-wallet {
        font-size: 1.11vw;
        line-height: 1.33vw;
        min-height: 1.33vw;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        padding: 0.6vw 0;
    }

    .wallet-connected-change-wallet {
        text-align: center;
        margin: 0.6vw 0;
    }

    .wallet-connected-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 1.2vw 3vw;
        gap: 2vw;
    }

    .wallet-connected-form-row {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    .wallet-connected-form-group {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .wallet-connected-form-label {
        font-size: 0.83vw;
        line-height: 1vw;
        font-weight: bold;
        color: #a85f37;
        margin-bottom: 0.42vw;
    }

    .wallet-connected-form-select {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .wallet-connected-form-select select {
        font-family: 'Friz Quadrata Std Medium';
        appearance: none;
        font-size: 1.67vw;
        line-height: 2vw;
        font-weight: bold;
        border: none;
        background-color: #18100c;
        color: #ffffff;
        padding: 0.65vw 2.49vw 0.15vw 0.83vw;
    }

    .wallet-connected-form-select-arrow {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0.83vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .wallet-connected-form-select-arrow img {
        width: 0.83vw;
    }

    .wallet-connected-form-text {
        font-size: 1.67vw;
        line-height: 2vw;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        padding: 0.41vw 2.49vw 0.41vw 0.83vw;
    }

    .wallet-connected-form-text-subtitle {
        font-size: 0.83vw;
        line-height: 1vw;
    }

    .wallet-connected-form-info {
        font-size: 0.69vw;
        line-height: 0.828vw;

        margin-top: 0.42vw;
        min-height: 0.69vw;

        color: #ad6237;
    }

    .wallet-connected-form-input {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .wallet-connected-form-input input {
        font-family: 'Friz Quadrata Std Medium';
        appearance: none;
        font-size: 1.67vw;
        line-height: 1.67vw;
        font-weight: bold;
        border: none;
        background-color: #18100c;
        color: #ffffff;
        padding: 0.65vw 0.83vw 0.15vw;
        min-width: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .wallet-connected-form-input input.with-suffix {
        padding: 0.65vw 5vw 0.15vw 0.83vw;
    }

    .wallet-connected-form-input-suffix {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0.81vw 0.83vw 0;
        font-size: 1.67vw;
        line-height: 1.67vw;
        box-sizing: border-box;
        font-weight: bold;
    }

    .highlighted select, .highlighted .wallet-connected-form-info {
        color: #DD7FF1;
    }

    .wallet-connected-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vw;
    }

    .wallet-connected-button {
        position: relative;
        width: 16.67vw;
        height: 4.76vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wallet-connected-button-img {
        flex: none;
        width: 700px;
        height: 200px;
        background: url("/img/presale/SS_Button_Buy.png") center 0 no-repeat;
        background-size: 700px;
    }

    .wallet-connected-footnote-container {
        font-size: 0.972vw;
        line-height: 1.17vw;
        font-weight: bold;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 2.5vw 0;
    }

    .popup-container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background-color: #00000088;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .popup {
        box-sizing: content-box;
        flex: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        color: white;
        font-family: 'Friz Quadrata Std Medium';
    }

    .popup.success {
        background: url("/img/presale/Page4_BG_Success_Shadow.png") top no-repeat;
        background-size: 100%;

        width: 28.47vw;
        height: 30.23vw;

        padding: 3.2vw 2.5vw 3.2vw 2.2vw;
    }

    .popup.fail {
        background: url("/img/presale/Page4_BG_Fail_Shadow.png") top no-repeat;
        background-size: 100%;

        width: 28.47vw;
        height: 30.23vw;

        padding: 3.2vw 2.5vw 3.2vw 2.2vw;
    }

    .popup-title {
        font-size: 1.667vw;
        line-height: 2vw;
        font-weight: bold;

        text-align: center;
        margin: 2.8vw 3vw 0;
    }

    .popup-body {
        font-size: 1.11vw;
        line-height: 1.33vw;
        font-weight: bold;
        color: #cebeb7;

        text-align: center;
        margin: 1.60vw 3vw 0;
    }

    .popup-token-count {
        position: relative;
        margin: 2.36vw 3vw 0;
        padding: 1.39vw 1.87vw 0;
        display: flex;
        flex-direction: column;

        background: url("/img/presale/Page4_BG_Section_Light.png") top no-repeat;
        background-size: 100%;

        box-sizing: border-box;
        height: 5.1vw;
    }

    .popup-token-count-label {
        font-size: 1.11vw;
        line-height: 1.33vw;
        font-weight: bold;
        color: #cebeb7;
    }

    .popup-token-count-value {
        font-size: 1.39vw;
        line-height: 1.67vw;
        font-weight: bold;
    }

    .popup-token-count-dice {
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .popup-token-count-dice-img {
        flex: none;
        background: url("/img/presale/Page4_Gem.png") center no-repeat;
        background-size: 100%;

        width: 8.19vw;
        height: 8.19vw;
    }

    .popup-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 2.5vw 3vw 0;
    }

    .popup-close-button {
        position: relative;
        width: 16.67vw;
        height: 4.76vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-close-button-img {
        flex: none;
        width: 700px;
        height: 200px;
        background: url("/img/presale/SS_Button_Close.png") center 0 no-repeat;
        background-size: 700px;
    }

    .popup-contact-support-button {
        position: relative;
        width: 16.67vw;
        height: 4.76vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup-contact-support-button-img {
        flex: none;
        width: 700px;
        height: 200px;
        background: url("/img/presale/SS_Button_Support.png") center 0 no-repeat;
        background-size: 700px;
    }

    .popup-close-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0.83vw 3vw 0;
    }

    .popup-close-link {
        font-size: 1.11vw;
        line-height: 1.33vw;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }

    .popup-close-link:hover {
        text-decoration: none;
    }
}
